<h1>Projects</h1>
<table>
  <% @projects.each do |project| %>
    <tr>
      <td><a href='/project/<%= project.project_id %>'><%= project.project_id %></a></td>
      <td><a href='/project/<%= project.project_id %>/admin'>Admin</a></td>
    </tr>
  <% end %>
</table> 